language: node_js
node_js:
  - "10"
cache:
  directories:
    - "node_modules"
install:
  - yarn
script:
  - node -v
  - yarn -v
deploy:
  - provider: script
    skip_cleanup: true
    script: npm run release
    on:
      branch: master
  - provider: script
    script: npm run deploy:prod
    skip_cleanup: true
    on:
      branch: master
  - provider: script
    script: npm run deploy:dev
    skip_cleanup: true
    on:
      branch: develop
notifications:
  email:
    on_success: never
